.GameState {
  display: flex;
  flex-grow: 1;
  height: 4em;
  align-items: center;
  justify-content: space-evenly;
}

.GameState-status {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  gap: 0.5em;
}

.GameState-queue {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.InfectionRate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.OutbreaksLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.GamePlayQueue {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.GamePlayQueue-title {
  margin: 0;
}

.GamePlayQueue-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  list-style: none;
}

.GamePlayQueue-playerItem {
  padding: 0.25em;
  border-radius: 0.25em;
}
