@tailwind base;
@tailwind components;
@tailwind utilities;

@import './actions.css';
@import './app.css';
@import './components.css';
@import './game-state.css';
@import './load-game.css';
@import './map.css';
@import './navigation.css';
@import './new-game.css';
@import './players.css';
@import './rules.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
