.players-sidebar {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  height: 100%;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
}
