.PlayersSidebar {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  height: 100%;
}

.PlayerControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
}

.PlayerHand {
  display: flex;
  font-size: 12px;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.PlayerHand-card {
  padding: 0.5em;
  border-radius: 0.25em;
}
